@import "../mixins.less";

.page-create-event {
  position: relative;

  .main-form {
    display: table;
    table-layout: fixed;
    margin: 1em;
    width: 100%;

    .column {
      display: table-cell;
      padding: 0 1em;
      width: 50%;

      .field-container {
        input, textarea, #invitees_tagsinput {
          margin-top: 2px;
        }

        .submit-button {
          float: right;
        }

        .tagsinput {
          width: 100%;
          resize: none;
        }

        #invitees_addTag {
          margin-top: -10px;
          resize: none;
        }

        #invitees_tag:focus {
          outline: 1px none transparent;
        }
      }
    }
  }
}

.ui-datepicker th {
  padding: 0.7em 0.3em;
  text-align: center;
  font-weight: normal;
  border: 0;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border: 1px solid #cccccc;
  background: #f6f6f6 url(images/ui-bg_glass_100_f6f6f6_1x400.png) 50% 50% repeat-x;
  font-weight: normal;
  color: #3BB92C;
}
