@(error: Option[String] = None)
@layout("Entwine") {
  <header>
    <img src='@routes.Assets.at("images/home/header.jpg")' />
    <h1>Plan less. Do more.</h1>
  </header>
  <div class="body text-plain">
    <section class="top-section">
      <p>Entwine helps you schedule events easily by finding the times that work best for you and your friends.</p>
      @if(!error.isEmpty){
        <p class="text-error">@error.get</p>
      }
      <form class="mailing-form" method="post" action="@routes.Login.login()">
        <p class="green">Log in and enjoy:</p>
        <div id="extra-fields" >
          <div class="input-group">
            <label for="first-name">First Name:</label>
            <input type="text" name="first-name" id="first-name" class="field-input">
          </div>
          <div class="input-group">
            <label for="last-name">Last Name:</label>
            <input type="text" name="last-name" id="last-name" class="field-input">
          </div>
        </div>
        <div class="input-group">
          <label for="email">Email:</label>
          <input type="email" name="email" id="email" class="field-input" />
        </div>
        <div class="input-group">
          <label for="password">Password:</label>
          <input type="password" name="password" id="password" class="field-input" />
        </div>
        <input type="submit" id="submit" class="next-button" value="Login" />
      </form>
      <p class="alternative text-plain small"><span id="reg-text">Don't have an account?</span> <a class="link bold" id="register" href="@routes.Login.index()">Register here</a>.</p>
    </section>
    <div class="divider">
      <img src='@routes.Assets.at("images/home/divider.png")' />
    </div>
    <div id="description">
      <p>Planning only takes <span class="green">two</span> steps:</p>
      <p><strong>Create an event</strong></p>
      <img src='@routes.Assets.at("images/home/image1.jpg")' />
      <p><strong>Send your availabilities</strong></p>
      <img src='@routes.Assets.at("images/home/image2.png")' />
      <p>Leave the rest to us - just be ready to confirm the event!</p>
    </div>
  </div>
}{
  <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/homepage.css")'>
}{
<script>
  var $extraFields = $('#extra-fields'),
      $submit = $('#submit'),
      $register = $('#register'),
      $regText = $('#reg-text');

  $register.click(function(e) {
    e.preventDefault();
    e.stopPropagation();

    if ($extraFields.css("display") === "none") {
      $extraFields.show();
      $submit.val('Register');
      $submit.css("left", "-119px");
      $register.html('Login here');
      $regText.html("Have an account?");
    } else {
      $extraFields.hide();
      $submit.val('Login');
      $submit.css("left", "-128px");
      $register.html('Register here');
      $regText.html("Don't have an account?");
    }
  });
</script>
}
