@(error: Option[String] = None)
@main("Entwine") {
  <header>
    <img src='@routes.Assets.at("images/home/header.jpg")' />
    <h1>Plan less. Do more.</h1>
  </header>
  <div class="body text-plain">
    <section class="top-section">
      <p>Entwine helps you schedule events easily by finding the times that work best for you and your friends.</p>
      @if(!error.isEmpty){
        <p class="text-error">@error.get</p>
      }
      <form class="mailing-form" method="post" action="@routes.Application.subscribe()">
        <label class="green">Enter your email address and enjoy:</label><br/>
        <input type="text" name="email" id="email" class="field-input" /><input type="submit" class="next-button" value="" />
      </form>
      <p class="alternative text-plain small">Or if you have already registered, log in <a class="link bold" href="@routes.Login.index()">here</a>.</p>
    </section>
    <div class="divider">
      <img src='@routes.Assets.at("images/home/divider.png")' />
    </div>
    <div id="description">
      <p>Planning only takes <span class="green">two</span> steps:</p>
      <p><strong>Create an event</strong></p>
      <img src='@routes.Assets.at("images/home/image1.jpg")' />
      <p><strong>Send your availabilities</strong></p>
      <img src='@routes.Assets.at("images/home/image2.png")' />
      <p>Leave the rest to us - just be ready to confirm the event!</p>
    </div>
  </div>
}{
  <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/homepage.css")'>
}{

}
