@import "mixins.less";

header {
  background-color: #30B619;
  width: 100%;
  position: relative;
  overflow: hidden;
}

header h1 {
  font-family: Msyi, Helvetica, Arial;
  font-weight: normal;
  text-align: center;
  letter-spacing: 1px;
  position: absolute;
  color: #569315;
  font-size: 1.05em;
  bottom: 26px;
  width: 100%;
}

header img {
  display: block;
  position: relative;
  left: 50%;
  margin: 0 0 0 -840px;
}

p {
  text-align: center;
  width: 100%;
  line-height: 1.2em;
  letter-spacing: 1px;
  margin: 3em 0;
}

.body {
  font-family: Petita, Helvetica, Arial;
  margin: 0 auto;
  padding: 0 0 5em;
}

.green {
  color: #489e10;
}

.divider {
  text-align: center;
}

.top-section {
  margin: 0 auto 4.5em;
  width: 600px;
}

.mailing-form {
  text-align: center;
  margin: 1em 0 0;
  letter-spacing: 1px;

  p {
    margin-bottom: 5px;
  }

  .input-group {
    margin-bottom: 10px;
    display: block;
  }

  .input-group:after {
    clear: both;
  }

  label {
    vertical-align: middle;
    text-align: right;
    float: left;
    width: 120px;
    display: block;
  }

  input {
    vertical-align: top;
    border: none;
    height: 36px;
    .box-sizing;
  }

  .field-input {
    width: 450px;
    display: inline-block;
  }

  .next-button {
    background: #00932E;
    color: white;
    border: none;
    cursor: pointer;
    line-height: 11px;
    left: -128px;
    position: relative;
  }

  .next-button:hover {
    background: #00B937;
  }

  #extra-fields {
    display: none;
  }
}

.text-error {
  margin: 0;
}

.alternative {
  margin: 1.5em 0 0;
  text-align: center;
}

#description {
  p {
    margin: 2em 0 15px 0;

    strong {
      font-weight: 300%;
    }
  }

  img {
    display: block;
    margin: auto;
    vertical-align: top;
  }
}

