@(eventId: Long)

@import tags._

@navbarLayout("Finalize Time", "finalizeTimePage", "page-finalize-time clearfix"){
  <section class="col-left">
    <header class="title-pane">
      <h1 id="eventTitle" class="heading-1">title</h1>
      <h3 id="eventDescription" class="sub-heading-1">description</h3>
    </header>
    <div id="calendarContainer" class="calender-container"></div>
  </section>
  <section class="col-right">
    <h2 id="heading-2">Best Timeslots</h2>
    <ul id="timeslotList" class="timeslot-list">
    </ul>
    <article id="selectionBox">
      <p>You have currently selected this date:</p>
      <h2 id="selectedDate" class="heading-2">date</h2>
    </article>
  </section>
  @flatButton(Map(
      "value" -> "finalize my event",
      "id" -> "finalizeButton",
      "class" -> "finalize-button"))
}{
  <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/fullcalendar.css")'>
  <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/scheduler/selectTime.css")' />
}{
  <script src='@routes.Assets.at("javascripts/libs/moment.min.js")' type="text/javascript"></script>
  <script src='@routes.Assets.at("javascripts/libs/fullcalendar.js")' type="text/javascript"></script>
  <script src='@routes.Assets.at("javascripts/scheduler/models/commonTimeblock.js")' type="text/javascript"></script>
  <script src='@routes.Assets.at("javascripts/scheduler/models/participant.js")' type="text/javascript"></script>
  <script src='@routes.Assets.at("javascripts/scheduler/views/finalizeView.js")' type="text/javascript"></script>

  <script type="text/javascript">
    $(function(){
      new Entwine.scheduler.views.EventsSelectView({
        "el": "#finalizeTimePage",
        "eventId": @eventId
      });
    });
  </script>
  <script id="TLITimeslot" type="text/template">
    <li class="timeslot-item">
      <div class="table wide tall">
        <div class="cell wide">
          <p data-tid="date"><%= moment(date).format("MMMM Do, YYYY") ></p>
          <p><%= moment(startTime).format("h:mm A") > - <%= moment(endTime).format("h:mm A") ></p>
        </div>
        <div class="cell">
          <p data-tid="numNormal" class="ic-normal"><%= numNormal ></p>
          <p data-tid="numImportant" class="ic-important"><%= numImportant ></p>
        </div>
      </div>
    </li>
  </script>
}
