@(userId: Long, eventId: Long)

@import tags._

@navbarLayout("Select Time", "selectTimePage", "page-select-time clearfix"){
  <div class="clearfix">
    <div class="title-pane">
      <h1 class="heading-1">your availability</h1>
      <span class="sub-heading-1">for <span class="emphasis">name</span></span>
      @roundIcon(Map(
          "value" -> "?",
          "id" -> "infoIcon",
          "class" -> "info-icon"))
    </div>
    <div class="info-pane">
      @dialog(Map(
          "id" -> "infoDialog",
          "class" -> "info-dialog")){
        <h3 class="heading-3">location</h3>
        <p class="text-plain small">location</p>
        <h3 class="heading-3">description</h3>
        <p class="text-plain small">description</p>
      }
    </div>
  </div>
  <div id="calendarContainer" class="calender-container"></div>
  @flatButton(Map(
      "value" -> "done",
      "icon" -> "right-arrow",
      "id" -> "submitButton",
      "class" -> "submit-button"))
}{
  <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/fullcalendar.css")'>
  <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/scheduler/finalizeTime.css")' />
}{
  <script src='@routes.Assets.at("javascripts/libs/fullcalendar.js")' type="text/javascript"></script>
  <script src='@routes.Assets.at("javascripts/scheduler/models/participant.js")' type="text/javascript"></script>
  <script src='@routes.Assets.at("javascripts/scheduler/models/event.js")' type="text/javascript"></script>
  <script src='@routes.Assets.at("javascripts/scheduler/models/timeblock.js")' type="text/javascript"></script>
  <script src='@routes.Assets.at("javascripts/scheduler/views/widgets/calendar.js")' type="text/javascript"></script>
  <script src='@routes.Assets.at("javascripts/scheduler/views/selectView.js")' type="text/javascript"></script>

  <script>
    $(function(){
      new Entwine.scheduler.views.EventsSelectView({
        "el": "#selectTimePage",
        "userId": @userId,
        "eventId": @eventId
      });
    });
  </script>
}
